$primary-color: #293264;
$secondary-color: #4d5b9e;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

.btn-primary {
  background-color: $secondary-color;
  color: white;
  font-size: 16px;
  line-height: 1.7;
  padding: 16px 28px;
  border-radius: 15px;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

.page-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .header {
    margin-bottom: 30px;
    h3 {
      font-size: 31px;
      line-height: 36px;
      font-weight: 700;
      color: $primary-color;
    }
  }
}
main {
  padding: 40px 75px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 20px;
  }
  .btn-primary {
    font-size: 12px;
    line-height: 1.17;
    padding: 11px 20px;
  }
}
.card {
  padding: 15px 0;
  &:not(:nth-child(10)) {
    border-bottom: solid 1px #dbdef0;
  }
  p {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 700;
    color: $primary-color;
  }
  .card--question {
    margin-bottom: 15px;
  }
  .card--answers {
    display: flex;
    gap: 13px;
  }
}
.button-container {
  text-align: center;
}
.btn-secondary {
  font-size: 12px;
  line-height: 1.17;
  color: $secondary-color;
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px $secondary-color;
  padding: 5px 16px;
  height: 100%;
  cursor: pointer;
  @media (max-width: 767px) {
    padding: 5px 10px;
  }
  @media (max-width: 576px) {
    padding: 5px 8px;
  }
}
button.completed {
  background-color: #94d7a2;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid lightgrey;
  border-top: 15px solid $secondary-color;
  animation: load 2s infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
